<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td><%= convert(test.level) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td class="green"><%= link_to 'Edit', edit_admin_test_path(test) %></td>
  <td class="red">
     <%= link_to 'Delete',
                 admin_test_path(test),
                 method: :delete,
                 data: { confirm: 'Are you sure to delete test?' } %>
  </td>
</tr>
