<br/>
<div>
  <strong>Title:</strong>
  <%= @test.title %>
</div>
  <br/>

<div>
  <strong>Level:</strong>
  <%= @test.level %>
</div>
<br/>

<div>
  <strong>Time for passing:</strong>
  <%= @test.minutes_for_passing %> minutes
</div>
<br/>

<div>
  <strong>Category:</strong>
  <%= @test.category.title %>
</div>
<br/>

<strong>Questions:</strong>
<br/>
<ol>
  <%= render @test.questions %>
</ol>
<br/>

<p><%= link_to 'Edit', edit_admin_test_path(@test) %></p>
<br/>

<p><%= link_to '+ Add question', new_admin_test_question_path(@test) %></p>
<br/>
<%= link_to '<- Back', admin_tests_path %>
